@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue: #bfecff;
  --purple: #cdc1ff;
  --yellow: #fff6e3;
  --pink: #ffccea;
  --white: #fbfbfb;
}

body {
  color: var(--blue);
  background: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
